---

---

<header
  class="flex items-center justify-between py-5 w-full px-4 xl:w-[1120px] mx-auto sticky top-0 z-10 bg-[#050505] shadow-md shadow-gray-900/10"
>
  <img
    class="rounded-full size-12"
    src="https://randomuser.me/api/portraits/men/76.jpg"
    alt="User photo"
  />

  <nav class="flex items-center gap-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
